<li class="nav-item active">
    <a class="nav-link" href="@CartURL" style="position:relative;">
        <i class="fas fa-shopping-basket"></i><span style="background-color: yellow;
            border-radius: 50%;
            height: 13px;
            width: 13px;
            font-size: 9px;
            font-weight: bold;
            margin-left: -8px;
            position: absolute;
            text-align: center;
            top: 24px;">2</span> Cart
    </a>
</li>

@code{
    [Parameter]
    public string CartURL { get; set; }
}