@inject NavigationManager urihelper
@using Application.Dtos.Product 
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item flex-grow-1">
        <EditForm Model="@parameters" OnValidSubmit="@SearchForValue">
            <DataAnnotationsValidator/>
            <ValidationSummary />
            <input class="mr-sm-2 w-75" @bind-value="parameters.SearchTerm" type="search" placeholder="Search" aria-label="Search" style="border: none;
                                border-radius: 12px 0 0 12px;padding: .375rem .75rem;
                                font-size: 1rem;
                                line-height: 1.5;
                                color: #495057;
                                background-color: #fff;
                                background-clip: padding-box;">
            <button class="my-2 my-sm-0" type="submit" style="margin-left: -10px;border: none;border-radius: 0 12px 12px 0;background: orange;height: 35px;width: 30px;">
                <i class="fas fa-search" style="font-size: 15px;color: gray;"></i>
            </button>
        </EditForm>
    </li>
</ul>

@code {
    [Parameter]
    public string searchurl { get; set; }

    public ProductParameters parameters { get; set; } = new();

    public Task SearchForValue()
    {
        urihelper.NavigateTo(searchurl+ "?SearchTerm=\"" + parameters.SearchTerm + "\"",forceLoad:true);
        return Task.CompletedTask;
    }
}
