@using Microsoft.AspNetCore.Identity
@inject SignInManager<Domain.ApplicationUser> SignInManager
@inject UserManager<Domain.ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Admin" asp-action="Index"><i class="fas fa-chart-line"></i> Dashboard</a>
            </li>
        }
        <li class="nav-item active">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index"><i class="fas fa-user"></i> @User.Identity.Name.Split("@").First()</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark"><i class="fas fa-sign-out-alt"></i> Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-sign-in-alt"></i> Login</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#"><i class="fas fa-shipping-fast"></i> Orders</a>
        </li>
        <component type="typeof(InfiniTech.Components.CartIcon)" render-mode="ServerPrerendered"
                   param-CartURL='@Url.Action("Cart","Home")'/>

    }
</ul>
