@using Microsoft.AspNetCore.Identity
@inject SignInManager<Domain.ApplicationUser> SignInManager
@inject UserManager<Domain.ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Admin"))
        { 
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Brands" asp-action="Index"><i class="fas fa-chart-line"></i> Dashboard</a>
            </li>
        }
        <li class="nav-item active">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index"><i class="fas fa-user"></i> Hello, @User.Identity.Name.Split("@").First()</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark"><i class="fas fa-sign-out-alt"></i> Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
    <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fas fa-shipping-fast"></i> Orders</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="#" style="position:relative;">
            <i class="fas fa-shopping-basket"></i><span style="background-color: yellow;
            border-radius: 50%;
            height: 13px;
            width: 13px;
            font-size: 9px;
            font-weight: bold;
            margin-left: -8px;
            position: absolute;
            text-align: center;
            top: 24px;">2</span> Cart
        </a>
    </li>
</ul>
